.titrePresentation {
    grid-area: titrePresentation;
    color: #6e6356;
}

.presentation {
    grid-area: presentation;
}

.titreStructure {
    grid-area: titreStructure;
}

.structure {
    grid-area: structure;
}

.wrapper {
     background-color: #fff;
     color: #444;
     margin: 50px;
 }

.wrapper {
 display: grid;
 grid-gap: 1em;
 grid-template-areas:
  "titrePresentation"
  "presentation"
  "titreStructure"
  "structure"
}

 @media only screen and (min-width: 768px)  {
 .wrapper {

     grid-template-columns: 20% auto;
     grid-template-areas:
       "titrePresentation   titrePresentation"
       "presentation  presentation"
       "titreStructure titreStructure"
       "structure   structure";
   }

   .navBar ul li{
     display:  inline-block;
     text-decoration: none;
     padding: 1em;

   }

   .navBar ul li a{
     text-decoration: none;
     padding: 1em;
   }
 }



 @media only screen and (min-width: 992px)   {
     .wrapper {
   grid-gap: 20px;
         grid-template-columns: 120px auto 120px;
         grid-template-areas:
           "titrePresentation  titrePresentation  titrePresentation"
           "presentation presentation presentation"
           "titreStructure titreStructure titreStructure"
           "structure  structure  structure";
           max-width: 800px;
       }
 }

.box {
  background-color: white;
 color: black;
 border-radius: 5px;
 padding: 10px;
 font-size: 150%;
}
