body{
  font:15px/1.3 'Open Sans', sans-serif;
   margin-left: 2em;
   margin-right: 2em;
   margin-top: 0;
   margin-bottom: 0;
}


.enTete{
  text-align: center;
  color : #6e6356;
}

.navBar{
  text-align: center;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navBar ul li {
  display: block;
  padding: 1em;
}

.navBar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 1em;
}

/*footer*/

footer{
  background-color: #444;
  margin-top: 5em;
  color: #fff
}

.facebook{
  grid-area : facebook;
}

.twitter{
  grid-area: twitter;
}

.instagram{
  grid-area : instagram;
}

.wrapperReseau{
  display: grid;
  grid-gap: 1em;
  grid-column: 1fr 1fr 1fr 7fr;
  grid-template-areas:
  "facebook twitter instagram"
}

.copyright{
  margin-left:15px;
  padding-top: 10px;
}

.image a{
  color: inherit;
}

@media only screen and (min-width: 768px){
  .navBar{
    font-size: 1.2em;
  }
}
